$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f0f3f5;
$text-color: #ffffff;
$highlight-color: #f1c40f;


// Typography
$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Other variables
$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);